.image{
    width: 250px;
    height: 200px;
    margin-bottom: 9px;
    margin-top: -16px;
    background-color: grey;
}

h1{
    text-align: center;
    font-weight: bolder;
    color:red;
}

img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
h2{
    margin-right: 50px;
    margin-left: 81px;
    margin-top: 0px;
}

.action_buttons{
    margin-left: 39px;
    padding: 1rem;
}


.details{
    display: flex;
    flex-direction: column;
    margin-left: 91px;
    font-weight: bolder;
    padding: 3px;
}

.navBar{
    display: flex;
    flex-direction: row-reverse;
    background-color: blue;
}

.navBar img{
    margin-right: 22px;
}
